.NewestContainer
{
    color: aliceblue;
    display: flex;
    background-color: rgb(65, 150, 164);
    padding-left: 15%;
    margin: 25%;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 50%;
    padding: 10px;
    
}